# Copy this file and rename it to 'development.yml'. The data entered there
# will be merged automatically with the defaults from 'default.yml' file.
#
# Example:
#
# Useful for running tests on remote cloud instance, e.g. behind firewall
# Requires key based authentication with the proxy domain
#proxy:
#  fqdn: your.suse.cloud.remote
#  user: username
#
#admin_node:
#  ip: 192.168.175.10
#  ssh:
#    user: root
#    password: linux
#    port: 22
#
#  api:
#    user: crowbar
#    password: linux
#    port: 3000
#    ssl: false
#
#control_node:
#  ssh:
#    user: root
#    password: linux
#    port: 22
